@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 16px 0;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
  backdrop-filter: blur(20px);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;

      .header__cart {
        margin-top: 30px;
      }
    }
  }

  .userImg {
    margin-left: 17px;
    height: 35px;
  }

  .nav {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      margin-left: 3px;
      font-weight: 700;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
