.root {
  position: relative;
  left: -287px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 42px;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 13px;
}

.clearIcon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  right: 8px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}
